@use '~nosaj-io/src/styles/scale.scss' as scale;

.post-editor {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template: 'main controls' auto / 1fr 380px;
  min-height: 100vh;

  &__main {
    display: flex;
    flex-flow: column nowrap;
    align-self: stretch;
    grid-area: main;
    max-width: 720px;
    width: 100%;
    padding-top: scale.msrem(15);
  }

  &__controls {
    display: flex;
    flex-flow: column nowrap;
    grid-area: controls;
    height: 100%;
    width: 100%;
    background: var(--background-shade);
    padding: scale.msrem(2);
    row-gap: scale.msrem(2);
  }
}

.md-editor {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  font-family: var(--system-fonts);
  font-size: scale.msrem(1);
  line-height: 1.5;
}

.controls {
  position: relative;
  z-index: 1000;

  &__row {
    display: block;
    width: 100%;
  }

  &__label {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: scale.msrem(-5);
  }

  &__input {
    width: 100%;
    background: var(--background);
    border: 1px solid var(--grey-400);
    border-radius: 6px;
    font-size: 1rem;
    padding: scale.msrem(-6) scale.msrem(-1);
  }

  &__button {
    display: block;
    background: transparent;
    border: 2px solid var(--foreground);
    border-radius: scale.msrem(-3);
    font-weight: 600;
    padding: scale.msrem(-3) scale.msrem(2);
    width: 100%;
    cursor: pointer;
  }

  &__button--primary {
    background: var(--foreground);
    color: var(--background);
    border: none;
  }

  &__button--inverted {
    background: var(--background);
    border: none;
  }
}

.editor {
  &__chrome {
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
    row-gap: scale.msrem(2);
  }

  &__title-input,
  &__subtitle-input {
    font-family: var(--system-fonts);
    background: transparent;
    border: none;
    display: block;
    width: 100%;
    outline: none;
  }

  // &__title-frame {
  // }
  &__title-input {
    font-size: scale.msrem(6);
  }

  // &__subtitle-frame {
  // }
  &__subtitle-input {
    font-size: scale.msrem(1);
  }

  &__md-frame {
    flex-grow: 1;
  }
}
