@use '~nosaj-io/src/styles/scale.scss' as scale;

.post_editor_root {
  position: relative;
  border-radius: 6px;
  border: 1px solid var(--grey-200);
  background: white;
  padding: scale.msrem(4);
  color: var(--grey-200);
  display: flex;
  flex-flow: column nowrap;
  row-gap: scale.msrem(3);
}

.autosave_status {
  font-size: scale.msrem(-2);
  position: absolute;
  top: 0;
  right: 0;
  color: var(--grey-700);
  padding: 1em;
}

.field_row {
  width: 100%;
}

.base_field {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: var(--grey-200);
}

.title_field {
  font-size: scale.msrem(4);
  font-weight: 600;
}

.subtitle_field {
  color: var(--grey-500);
  font-size: 1rem;
  font-family: var(--system-fonts);
}

// Editor
.editor {
  &__chrome {
    display: flex;
    flex-flow: column nowrap;
  }

  &__toolbar {
    display: flex;
    border-bottom: 1px solid var(--grey-500);
    margin-bottom: scale.msrem(1);
  }

  &__button {
    color: var(--grey-500);
    padding: scale.msrem(-4);
    font-size: scale.msrem(-2);
    cursor: pointer;

    &:hover {
      color: var(--grey-200);
      background: var(--grey-1000);
    }
  }
}
