@use '~nosaj-io/src/styles/scale.scss' as scale;

.main_button {
  background: var(--yellow-600);
  color: var(--background);
  border: none;
  border-radius: scale.msrem(-3);
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
}
