@use '../../styles/scale.scss' as scale;
@use '../../styles/breakpoints.scss' as bp;
@use '../../styles/page.module.scss';

.home {
  &__intro {
    &-headline {
      max-width: calc(var(--col-width) * 8);
      margin-bottom: 1rem;
      font-size: scale.msrem(4);

      @include bp.gt('medium') {
        font-size: scale.msrem(6);
      }
    }

    &-text {
      margin: 0;
      max-width: calc(var(--col-width) * 8);
      color: var(--grey-600);
    }
  }

  &__connect {
    &-links {
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      gap: scale.msrem(2);
      margin: 0;
      padding: 0;
    }
  }
}

.section-title {
  display: flex;
  column-gap: scale.msrem(-5);
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: scale.msrem(-2);
  font-weight: 600;
  font-family: var(--headings-fonts);
  margin-bottom: scale.msrem(-1);

  &--subscribe-icon::before {
    content: '';
    display: block;
    width: 22px;
    height: 11px;
    background: url('/subscribe-icon.svg') no-repeat center / 100% 100%;

    @media (prefers-color-scheme: dark) {
      background-image: url('/subscribe-icon-light.svg');
    }
  }
}

.posts__list {
  display: flex;
  flex-flow: column nowrap;
  row-gap: scale.msrem(2);
  margin: 0;
  padding: 0;
}

.post__row {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  list-style-type: none;
  padding: 0;
  margin: 0;
  row-gap: scale.msrem(-5);

  @include bp.gt('small') {
    flex-flow: row nowrap;
    row-gap: unset;
    column-gap: scale.msrem(2);
    column-gap: scale.msrem(4);
  }
}

.post__row-date {
  font-size: scale.msrem(-2);
  text-transform: uppercase;
  color: var(--grey-500);
  width: scale.msrem(9);
  flex: 0 0 auto;

  @include bp.gt('medium') {
    width: scale.msrem(11);
  }
}

.post__row-title {
  font-size: 1rem;
  line-height: 1.13rem;
  font-weight: 500;
  flex: 1 1 auto;
}
