@use '~nosaj-io/src/styles/scale.scss' as scale;

.public-DraftEditor-content {
  font-size: scale.msrem(-1);
}

.public-DraftStyleDefault-block {
  margin: scale.msrem(-1) 0;

  a {
    text-decoration: underline;
  }
}
