@use '../../styles/page.module.scss';
@use '../../styles/breakpoints.scss' as bp;
@use '../../styles/scale.scss' as scale;

.read {
  @extend .container, .container--center-content;

  &__article {
    @extend .center;
    max-width: calc(8 * var(--col-width));
  }

  &__head {
    display: grid;
    grid-template:
      'date' auto
      'title' auto
      'subline' auto / 1fr;
    margin-bottom: scale.msrem(10);
  }

  &__title {
    grid-area: title;
    font-weight: 500;
    font-size: scale.msrem(5);

    @include bp.gt('medium') {
      font-size: scale.msrem(7);
    }
  }

  &__subline {
    grid-area: subline;
    margin-top: scale.msrem(-1);
    color: var(--foreground-shade);
  }

  &__date {
    grid-area: date;
    margin-bottom: scale.msrem(-1);
    color: var(--grey-500);
    font-size: scale.msrem(-2);
  }

  &__body {
    // font-family: var(--minion-fonts);

    p {
      margin: scale.msrem(3) 0;
    }
  }
}
