// Archia
@font-face {
  font-family: 'archia';
  src: url('/fonts/archia-semibold.woff2') format('woff2'),
    url('/fonts/archia-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'archia';
  src: url('/fonts/archia-bold.woff2') format('woff2'),
    url('/fonts/archia-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

// Circular
@font-face {
  font-family: 'circular';
  src: url('/fonts/circularstd-light.woff2') format('woff2'),
    url('/fonts/circularstd-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'circular';
  src: url('/fonts/circularstd-lightitalic.woff2') format('woff2'),
    url('/fonts/circularstd-lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'circular';
  src: url('/fonts/circularstd-book.woff2') format('woff2'),
    url('/fonts/circularstd-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'circular';
  src: url('/fonts/circularstd-bookitalic.woff2') format('woff2'),
    url('/fonts/circularstd-bookitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'circular';
  src: url('/fonts/circularstd-medium.woff2') format('woff2'),
    url('/fonts/circularstd-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'circular';
  src: url('/fonts/circularstd-mediumitalic.woff2') format('woff2'),
    url('/fonts/circularstd-mediumitalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'circular';
  src: url('/fonts/circularstd-bold.woff2') format('woff2'),
    url('/fonts/circularstd-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'circular';
  src: url('/fonts/circularstd-bolditalic.woff2') format('woff2'),
    url('/fonts/circularstd-bolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
