:root {
  --system-fonts: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --graycliff-fonts: 'greycliff-cf', var(--system-fonts);

  --headings-fonts: var(--graycliff-fonts);
  --body-fonts: var(--graycliff-fonts);

  --blue-100: rgb(2, 14, 34);
  --blue-200: rgb(4, 34, 83);
  --blue-300: rgb(7, 54, 131);
  --blue-400: rgb(9, 74, 179);
  --blue-500: rgb(12, 94, 228);
  --blue-600: rgb(47, 122, 244);
  --blue-700: rgb(95, 153, 247);
  --blue-800: rgb(144, 184, 249);
  --blue-900: rgb(192, 215, 252);
  --blue-1000: rgb(240, 246, 254);

  --yellow-100: rgb(26, 20, 0);
  --yellow-200: rgb(77, 60, 0);
  --yellow-300: rgb(128, 99, 0);
  --yellow-400: rgb(178, 139, 0);
  --yellow-500: rgb(229, 179, 0);
  --yellow-600: rgb(255, 205, 26);
  --yellow-700: rgb(255, 216, 76);
  --yellow-800: rgb(255, 227, 128);
  --yellow-900: rgb(255, 238, 179);
  --yellow-1000: rgb(255, 249, 229);

  --grey-100: rgb(14, 17, 22);
  --grey-200: rgb(33, 41, 54);
  --grey-300: rgb(52, 65, 85);
  --grey-400: rgb(72, 89, 117);
  --grey-500: rgb(91, 113, 149);
  --grey-600: rgb(119, 139, 172);
  --grey-700: rgb(151, 166, 191);
  --grey-800: rgb(182, 193, 211);
  --grey-900: rgb(214, 220, 230);
  --grey-1000: rgb(245, 247, 249);

  --foreground: var(--grey-200);
  --foreground-shade: var(--grey-700);
  --background: rgb(255, 255, 255);
  --background-shade: var(--grey-800);
  --primary: var(--yellow-500);
  --secondary: var(--blue-500);

  --content-width: 960px;
  --cols: 12;
  --col-width: calc(var(--content-width) / var(--cols));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--grey-1000);
    --foreground-shade: var(--grey-600);
    // --background: var(--blue-100);
    --background: rgb(0, 0, 0);
    --background-shade: var(--grey-300);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 125%; // 20px
}

body {
  font-family: var(--body-fonts);
  font-weight: normal;
  line-height: 1.42;
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
}

button,
input {
  font-family: var(--body-fonts);
  font-size: 1rem;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.13;
  font-family: var(--headings-fonts);
  font-weight: 600;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  background: no-repeat
    linear-gradient(to right, var(--foreground-shade), var(--foreground-shade))
    bottom / 100% 1px;

  &:hover {
    background: no-repeat
      linear-gradient(to right, var(--blue-800), var(--blue-800)) bottom / 100%
      1px;
  }

  &.no-decoration {
    background: none;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
