@use '../../styles/breakpoints.scss' as bp;
@use '../../styles/scale.scss' as scale;
@use '../../styles/page.module.scss';

.page {
  &__main {
    display: flex;
    flex-flow: column nowrap;
    row-gap: scale.msrem(3);

    @include bp.gt('medium') {
      row-gap: scale.msrem(8);
    }
  }

  // <Section /> component
  &__section {
    @extend .container, .container--center-content;

    padding-top: 0;
    padding-bottom: 0;
  }

  &__section-content {
    @extend .center;
  }
}
