@use '../../styles//breakpoints.scss' as bp;
@use '../../styles/scale.scss' as scale;

.subscribe {
  &__form {
    --field-padding: #{scale.msrem(-8)} #{scale.msrem(-2)};
    --field-font-size: #{scale.msrem(-1)};

    display: flex;
    flex-flow: column nowrap;
    row-gap: scale.msrem(-7);
    max-width: calc(var(--col-width) * 6);
    width: 100%;

    @include bp.gt('medium') {
      --field-padding: #{scale.msrem(-8)} #{scale.msrem(1)};
    }
  }

  &__fields {
    display: flex;
    flex-flow: column nowrap;
    row-gap: scale.msrem(-1);

    @include bp.gt('small') {
      flex-flow: row nowrap;
      align-items: stretch;
      column-gap: scale.msrem(-2);
    }
  }

  &__input {
    flex: 1 1 100%;
    min-width: 100px;
    background: var(--background);
    border: 1px solid var(--foreground);
    border-radius: 4px;
    padding: var(--field-padding);
    outline: none;
  }

  &__input:focus {
    border-color: var(--blue-600);
  }

  &__input::placeholder {
    color: var(--background-shade);
  }

  &__submit {
    cursor: pointer;
    background: var(--foreground);
    color: var(--background);
    border-radius: 4px;
    border: none;
    padding: var(--field-padding);
  }

  &__submit:disabled {
    opacity: 0.3;
  }

  &__smallprint {
    font-size: scale.msrem(-2);
    color: var(--foreground-shade);
  }

  &__invalid-notice {
  }

  &__success-message {
  }
}
